

<%=form_for [:admin,@user,@tat] do |f| %>

    <% if @tat.errors.any? %>
<h1> ERRORS: </h1>

<% @tat.errors.full_messages.each do |message| %>
<ul>
<li><%= message %></li>
</ul>
<%end%>
<%end%>

    <%= f.hidden_field :tat, value: @tat.id %> 
    <%= f.hidden_field :user_id, value: @user.id %>


    <h1> Name Your Tat </h1>
     <%= f.text_field :name %>
     </h1><br>
 <tat_name>
 


 <h1> Schedule your Tat Date </h1>
 <h1> <%= f.datetime_select :appointment_date, :class => 'chart-radio-icon'%> </h1><br>


 <tat_artist>
     <h1> Choose an Artist </h1>
     <%= f.collection_select :artist_id ,  @artists, :id, :name, :include_blank => "none for now" %>
    
    
    
     </tat_artist> <br>
 
     
     <desc>
    <h1> Tat description </h1>
   
     <%= f.text_area :description %>
     </desc> <br>
     
     
     <color>
     <h1> Color Range </h1>
     <%= f.radio_button :color_range, '1', :checked => true %> 1 color <br>
     <%= f.radio_button :color_range, '2', :checked => true %> 2 colors <br>
     <%= f.radio_button :color_range, '3 or more colors', :checked => true %> 3 + colors <br>
     </color><br><br>
   
     <tat_style>
     <h1> Tat Style </h1>
   
 <%= f.radio_button :style, 'Art Nouveau', :checked => true %> Art Nouveau 
 <%= f.radio_button :style, 'Japanese Traditional', :checked => true %> Japanese Traditional 
 <%= f.radio_button :style, 'cartoony', :checked => true %> cartoony 
 <%= f.radio_button :style, 'Anime', :checked => true %> Anime 
 <%= f.radio_button :style, 'Realism', :checked => true %> Realism 
 </tat_style>
 
 
 <%= f.submit "Submit Tat" %>

 <% end %>