<div id="href">
<% if session[:user_id] %>
<h1> User: <%= @user.name%> </h1><br><br>
 
 <h2> Tat Name: <%= @tat.name %> </h2><br>
 
 
 <% if @tat.artist != nil %>
 <h3> Tat artist: </h3> <%= link_to @tat_artist.name, artist_path(@tat_artist) %> <br>
<%else %>
<h3> <%= link_to "Browse Artists", artists_path %> </h3><br> 
 <%end%> 

 <h3>Tat Description: </h3> <%= @tat.description %><br>

 <h3> Tat Color Range: </h3>  <%= @tat.color_range%></h3><br>

 <h3> Tat Appointment Date: </h3>  <%= @tat.appointment_date%></h3><br>

 <h3> Tat Style: </h3> <%= @tat.style%></h3><br>



 <%= button_to 'Delete Tat', @tat, method: :delete, data: { confirm: 'Are You sure?' }%><br>
 
 <%= link_to "Edit Tat", edit_admin_user_tat_path(@tat)%><br>


 <% elsif session[:artist_id] %>
  
<h1> Artist: </h1>

<h1><%= @artist.name %> </h1> <br><br>
<div id="href"> 


<h2> Tat name: </h2><%= @tat.name %> <br>

 <h3>Tat artist: </h3><%= @tat.artist.name%><br>

 <h3>Tat description:</h3> <%= @tat.description%><br>

 <h3> Tat color range: </h3><%= @tat.color_range%><br>

 <h3> Tat style:</h3><%=@tat.style %> <br><br><br>


 </div>
 
 <%= form_for [:admin,@tat], :url => { :action => "approve_tat" }, method: :post do |f| %>
    <%= f.label :stat, "Approve Tat", :value => "true" %>
    <%= f.radio_button :stat, true, :tat => [:stat] %>
    <%= f.label :stat, "Standby", :value => "false" %>
    <%= f.radio_button :stat, false, :tat => [:stat] %>
 <%= f.submit "submit status" %>
 <%end%>





<% if @tat.stat == true %>
<h1> <%= "APPROVED!" %> </h1>
<%else%>
 <h1> <%="Approve or standby?"%> </h1>
<%end%>


<%= link_to "decine request", controller: "tats", action: "remove_artist", id: @tat %><br>


<%end%>




<%= link_to "Return home", admin_root_path %><br>


<%= link_to "Log Out", signout_path, method: :delete %><br><br>
</div>