
<h1>Log In</h1>

<%= form_tag "/signin", method: :post do %>
    <%= label_tag :user %>
    <%= collection_select :user, :name, User.all, :name, :name, :include_blank => "Leave Blank" %>
    <br><br>
    <%= label_tag :artist, "Artist" %>
    <%= collection_select :artist, :name, Artist.all, :name, :name, :include_blank => "Leave Blank"  %>
    <br><br>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <br><br>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br><br>
    <%= submit_tag "Sign In" %><br>

<% end %>
