
<h1>Log In</h1>

<%= form_tag "/signin", method: :post do %>
    <%= label_tag :user %>
    <%= collection_select :user, :name, User.all, :name, :name %>
    <br><br>
    <%= label_tag :artist, "Artist" %>
    <%= text_field_tag :artist %>
    <br><br>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br><br>
    <%= submit_tag "Sign In" %>
<% end %>