<h1>Edit <%= @artist.name %></h1>
<br>
<%= form_for [:admin,@artist] do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "NAME"%>
    <br>
    <%= f.label :bio %><br>
   <%= f.text_area :bio %><br>
    <%= f.submit "Update Artist" %> 
<% end %> 
