


<%if session[:artist_id] %>
<h1> All Artists </h1>

<% @artists.each do |artist| %>

<%= link_to artist.name, artist_path(artist) %> <br><br>

<%end%>




<% elsif session[:user_id] %>



<h1><%= @user.name%></h1><br>

<h1> All Artists: </h1>


<% @artists.each  do |artist| %>
<h2><%= link_to artist.name, artist_path(artist)%><h2>
    
<% end %><br>
<% end %>
<%= link_to "Return home", root_path %><br>
<%= link_to "Log Out", signout_path, method: :delete %><br><br>