







   




<h1><%= @artist.name %> </h1> <br>

<h2> <%= @artist.name%> 's special skills: </h2><br><br><br><br>

<%= button_to "Add Artist", {action: :add_artist, id: @artist.id }, method: :post %>

<%= link_to "Log Out", signout_path, method: :delete %><br><br>
<br>

<%= link_to "Return home", admin_root_path %>

<br>
