







  <% if session[:artist_id] %>




<h1><%= @artist.name %> </h1> <br>

<h2> About <%= @user_artist.name%>:  </h2><br><br>

<h2> <%= @user_artist.bio%> </h2><br><br><br><br>

<%= button_to "Add Artist", {action: :add_artist, id: @user_artist.id }, method: :post %>



<% elsif session[:user_id] %>


<h1><%= @artist.name %> </h1> <br>

<h2> About <%= @artist.name%>:  </h2><br><br>

<h2> <%= @artist.bio%> </h2><br><br><br><br>

<%= button_to "Add Artist", action: "add_artist"  %>



<%end%>



<%= link_to "Log Out", signout_path, method: :delete %><br><br>
<br>

<%= link_to "Return home", admin_root_path %>

<br>
