
<div id="href">


<h2> Artist Name: <%= @artist.name %></h1><br><br>



<h2> About Artist:</h2><br>

<%= @artist.bio %></h2><br><br>



<h2>  Tat requests: </h2>
<% @artist_tats.each do |tat| %>
<h2> <%= link_to(tat.name, admin_artist_tat_path(@artist,tat)) %></h2><br>
<%end%><br>



<%= link_to "Log Out", signout_path, method: :delete %><br>

<%= link_to "Return home", admin_root_path %><br>

<%= link_to "Edit Artist", edit_admin_artist_path(@artist)%><br>


</div>
