


<%= form_for [@user,@tat] do |f| %>
    <%= f.hidden_field :user_id %>
 
 <tat_name>
    <h1> Name Your Tat </h1>
 
     <%= f.label :name, "name" %>
     <%= f.text_field :name %>
     </h1><br>
 <tat_name>
 
 
 <tat_artist>
     <h1> Choose an Artist </h1>
 
     <%= f.label :name %><br>
     <%= f.collection_select  :artist_id ,  @artists, :id, :name, :prompt => true%>
     </tat_artist> <br>
 
     
     <desc>
    <h1> Tat description </h1>
   
     <%= f.label :description %><br>
     <%= f.text_area :description %>
     </desc> <br>
     
     
     <color>
     <h1> Tat Size </h1>
     
     <%= f.radio_button :color_range, '1', :checked => true %> 1 color <br>
     <%= f.radio_button :color_range, '2', :checked => true %> 2 colors <br>
     <%= f.radio_button :color_range, 'self >= 3', :checked => true %> 3 + colors <br>
     </color><br><br>
   
     <tat_style>
     <h1> Tat Style </h1>
   
 <%= f.radio_button :style, 'Art Nouveau', :checked => true %> Art Nouveau 
 <%= f.radio_button :style, 'Japanese Traditional', :checked => true %> Japanese Traditional 
 <%= f.radio_button :style, 'cartoony', :checked => true %> cartoony 
 <%= f.radio_button :style, 'Anime', :checked => true %> Anime 
 <%= f.radio_button :style, 'Realism', :checked => true %> Realism 
 </tat_style>
 
 
 <%= f.submit "Submit Tat" %>

 <% end %>