



<% if session[:user_id] %>
<div id="href">


<h3> <%= @current_user.name %> </h3> <br><br>




<h1> Tat User: <%= @user.name%> </h1><br><br>
 
 <h2> Tat name: <%= @tat.name %> </h2><br>
 

 <h3>Tat description: <%= @tat.description%></h3><br>

 <h3> Tat color range: <%= @tat.color_range%></h3><br>

 <h3> Tat style: <%= @tat.style%></h3><br>



 
 <%elsif session[:artist_id]%>
 <div id="href">

<h1> Artist </h1>
<h1><%= @artist.name %> </h1> <br><br><br>




<h3> Tat User: <%= @tat.user.name%> </h2><br><br>

<h3> Tat name: <%= @tat.name %> </h2><br><br>

 <h3>Tat description: <%= @tat.description%></h3><br>

 <h3> Tat color range: <%= @tat.color_range.to_s%></h3><br>

 <h3> Tat style: <%=@tat.style %> </h3><br>

<%end%>



<%= link_to "Return home", admin_root_path %><br>

<%= link_to "Log Out", signout_path, method: :delete %><br><br>

</div>