


<% if !logged_in? %>
 <%= link_to "Sign Up as User", new_user_path %><br><br>
 <%= link_to "Sign Up as Artist", new_artist_path %><br><br>
<%= link_to "Sign in", signin_path, method: 'get' %><br><br>

<%elsif session[:user_id] %>
<h1> User: <%= @user.name%> </h1><br><br>
 
 <h2> Tat name: <%= @tat.name %> </h2><br>

 <h3>Tat artist: <%= @tat.artist.name%></h3><br>

 <h3>Tat description: <%= @tat.description%></h3><br>

 <h3> Tat color range: <%= @tat.color_range%></h3><br>

 <h3> Tat style: <%= @tat.style%></h3><br>

 <%= link_to "Edit Tat", edit_tat_path(@tat)%><br>

 <%else %>
<h1> Artist </h1>
<h1><%= @artist.name %> </h1> <br><br><br>
<h2> Tat name: <%= @tat.name %> </h2><br><br>

 <h3>Tat artist: <%= @tat.artist.name%></h3><br>

 <h3>Tat description: <%= @tat.description%></h3><br>

 <h3> Tat color range: <%= @tat.color_range%></h3><br>
<%end%>

<%= link_to "Return home", root_path %><br>

<%= link_to "Log Out", signout_path, method: 'delete'%><br>