


<h1> User: <%= @user.name %></h1><br><br>




<%= link_to "Users tats",user_tats_path(@tats) %><br><br>


<%= link_to "Users artists",user_artists_path(@artists) %><br><br>

<%= link_to "Log Out", signout_path, method: :delete %><br><br>
<br>

<%= link_to "Return home", root_path %>

<br>
