

<%if session[:user_id] %>
<h1> User  </h1>
 <h1><%= @user.name%> </h1> <br><br><br>
 <%= link_to "All Artists",artists_path %><br><br>

 <%= link_to "Log Out", signout_path, method: :delete %><br><br>
 <%= link_to "Users page", admin_user_path([:admin],@user.id), method: 'get'%><br><br>
 <% Artist.all.each do |artist| %>
 <%= link_to artist.name, artist_path(artist.id)%>
<%end%>
 <% elsif session[:artist_id] %>
<h1> Artist: </h1>
<h1><%= @artist.name %> </h1> <br><br><br>
<%= link_to "Artist page", admin_artist_path([:admin],@artist.id), method: 'get'%><br><br>
<%= link_to "All users", users_path%><br><br>



<h2> <%= link_to "Available work", tats_path %> </h2><br>







<%= link_to "Log Out", signout_path, method: :delete %><br><br>

<% else %>
 <%= link_to "Sign Up as User", new_admin_user_path %><br><br>
 <%= link_to "Sign Up as Artist", new_admin_artist_path %><br><br>
<%= link_to "Sign in", signin_path, method: 'get' %><br><br>

<h3> Or Login Through Google </h3><br><br>

<%= button_to "Google", '/auth/google_oauth2' %>
<%end%>
