


<h1> User: <%= @user.name %></h1><br><br>

<div id="href">
<%= link_to "Create Tat", new_admin_user_tat_path(@user.id) %><br><br>

<%= link_to "Users tats",admin_user_tats_path(@tats) %><br><br>


<%= link_to "Users artists",admin_user_artists_path(@artists) %><br><br>

<%= link_to "Log Out", signout_path, method: :delete %><br><br>
<br>

<%= link_to "Return home", root_path %>

<br>
</div>