


<h1> User: <%= @user.name %></h1><br><br>




<%= link_to "Users tats",admin_user_tats_path(@tats) %><br><br>


<%= link_to "Users artists",admin_user_artists_path(@artists) %><br><br>

<%= link_to "SIGN OUT", signout_path, method: 'delete' %>
<br>

<%= link_to "Return home", root_path %>

<br>
